div {
    background-color: #00923E;
    padding: 1%;
}

table {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Verdana,sans-serif;
    overflow: hidden;
    border-spacing: 0;
}

table td {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 70px;
}

table thead {
    background-color: #F8C711;
    font-size: 2rem;
    font-weight: bold;
}

table thead td:first-child {
    border: none;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    height: 40px;
}

.right {
    border: none;
    border-bottom: 1px solid black;
}

.bottom {
    border: none;
    border-right: 1px solid black;
}

.corner {
    border: none;
}

.host {
    text-align: right;
    vertical-align: middle;
}

.center {
    text-align: center;
}

input[type=button] {
    color:white;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    font-weight:bolder;
}

input[type=button]:disabled {
background-color: red;
}

input[type=button]:enabled {
    background-color: green;
}

input[type=button]:enabled:hover {
    cursor: pointer;
}

.brasil {
    background: url("../images/brasil.png") no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 2px;
}

.spain {
    background: url("../images/spain.png") no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 2px;
}

.italy {
    background: url("../images/italy.png") no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 2px;
}

.argentina {
    background: url("../images/argentina.png") no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 2px;
}

.germany {
    background: url("../images/germany.png") no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 2px;
}

.mexico {
     background: url("../images/mexico.png") no-repeat;
     width: 30px;
     height: 20px;
     display: inline-block;
     position: relative;
     top: 12px;
     left: 2px;
 }

.netherlands {
    background: url("../images/netherlands.png") no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 2px;
}

.england {
    background: url("../images/england.png") no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 2px;
}

.bosnia {
    background: url("../images/bosnia%20and%20herzegovina.png") no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 2px;
}

.portugal {
    background: url("../images/portugal.png") no-repeat;
    width: 30px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 2px;
}

.grey {
    background: #C8C8C8;
}

select {
    background-color: #E0DED9;
    height: 45px;
    width: 45px;
    font-family: Verdana,sans-serif;
    font-size: 1.4rem;
    color: green;
}

select:disabled {
    color: red;
}