@media screen and (max-width: 959px) {
    #container {
        width: 100%;
        box-sizing: border-box;
    }

    #content {
        width: 73%;
        margin: 0 2% 0 0;
        box-sizing: border-box;
    }

    #sidebar {
        width: 25%;
        box-sizing: border-box;
    }

    #content .postinfo li {
        width: 33%;
        box-sizing: border-box;
        margin: 0;
    }

    #sidebar #categories, #sidebar #social, #sidebar #latest {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    #sidebar #search #searchbar {
        width: 100%;
        box-sizing: border-box;
    }

    #latest ul li a {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 759px) {
    #container {
        padding: 10%;
    }

    header nav {
        display: block;
        width: 100%;
        float: left;
        text-align: left;
        margin: 20px 0 0 0;
    }

    header nav ul li{
        width: 24%;
        margin: 0 0 0 1%;
        box-sizing: border-box;
    }

    #content {
        width: 100%;
        margin: 0;
    }

    #sidebar {
        display: block;
        width: 100%;
    }

    #sidebar #categories, #sidebar #social, #sidebar #latest {
        display: inline-block;
        margin: 0;
    }

    #sidebar #categories, #sidebar #social {
        width: 20%;
        margin-right: 9%;
    }

    #sidebar #latest {
        width: 42%;
    }

    #sidebar #search {
        margin-top: 120px;
        clear: both;
        width: 100%;
        display: block;
    }

    footer #back-top {
        margin-right: 5%;
    }
}

@media screen and (max-width: 539px) {
    header nav ul li{
        width: 60%;
        margin: 0;
    }

    header nav ul li:first-of-type {
        width: 35%;
    }

    header nav ul li:nth-of-type(3) {
        width: 40%;
    }

    #content .postinfo li {
        width: 50%;
    }

    #sidebar #categories, #sidebar #social {
        width: 50%;
        margin: 0;
    }

    #sidebar #latest {
        clear: both;
        display: block;
        width: 100%;
    }

    #latest ul li a {
        font-size: 1rem;
    }
}