        
        body {
            background: url("../images/SoftUni-Background.png") repeat-x;
        }

        li {
            list-style: none;
        }

        li:before {
            content: '\25A0';
            display: block;
            position: relative;
            max-width: 0;
            max-height: 0;
            left: -20pt;
            top: 10pt;
            color: #f2b254;
            font-size: 20px;
        }
		
		.Title {
            font-weight: bold;
            font-size: 38pt;
            font-family: calibri, headings,sans-serif;
            color: #f3be60;
        }
		
        .Paragraph {
            font-size: 34pt;
            font-family: calibri, body,sans-serif;
            color: white;
            font-weight: normal;
        }

        .reference {
            font-family: consolas,sans-serif;
            font-size: 34pt;
            color: #f3cd60;
            font-weight: bold;
        }

        .shape {
            border: 1pt solid #c7bfac;
            background-color: #20201e;
            max-width: 88%;
            position: relative;
            left: 2%;
        }

        .text {
            font-family: consolas,sans-serif;
            font-size: 24pt;
            font-weight: bold;
            color: #fbeec9;
        }

        .pageNumbers {
            position: relative;
            right: -98%;
            bottom: 1%;
            font-family: calibri, body,sans-serif;
            font-size: 10pt;
            color: white;
        }