table {
    background-color: #234465;
    width: 100%;
    border-collapse: collapse;
}

input[type="text"].searchInput{
    float: left;
    border: 0;
    vertical-align: top;
    height: 30px;
    width: 220px;
    color: #367CAE;
    background-color: white;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    text-indent: 0.5rem;
    font-size: 0.9rem;
    display: inline-block;
}

button[type="submit"].searchButton{
    float:right;
    width:32px;
    height:32px;
    vertical-align:top;
    border:0;
    border-left:1px solid #d5d5d5;
    background: url(https://softuni.bg/Content/design/magn-glass-icon17.png) 7px no-repeat white;
    border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    display: inline-block;

}
button[type="submit"].searchButton:hover{
    background: url(https://softuni.bg/Content/design/magn-glass-icon17.png) no-repeat #367cae 7px;
}

td {
    color: white;
    text-align: right;
    font-family: "PT Sans", Tahoma, sans-serif;
    font-size: 14px;
    text-shadow: 0 1px 0 #000;
    padding: 5px 20px 5px 7px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}

.logo {
    text-align: left;
    text-indent: 2rem;
}

.search {
    width: 252px;
}

.filler {
    width: 85%;
}

.rightest {
    width: 14%;
}

.left {
    display: inline-block;
    padding-right: 10%;
}

.beta {
    display: inline-block;
    position: relative;
    top: -50px;
    font: sans-serif;
    font-size: 0.6rem;
    text-shadow: none;
    text-transform: none;
    right: 60px;
}


